<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}

<h1>Все новости</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    <h3> Количество новостей {{ news|length }}</h3>

    <h3> {{ next_sale|default_if_none:"Самые свежие новости!" }} </h3>
    <hr>
    <!-- Выводим новости, только если они есть с помощью тега if -->
    {% if news_search %}
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Дата публикации </td>
                <td> Описание </td>
            </tr>
            {% for newSearch in news_search %}
            <tr>
                <td>{{ newSearch.title|censor }}</td>
                <td>{{ newSearch.dateCreation|date:'d M Y' }}</td>
                <td>{{ newSearch.text|truncatechars:20|censor }}</td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
    <!-- Если новостей нет, говорим, что новостей нет ;) -->
        <h2>Новостей нет</h2>
    {% endif %}


    {# Добавляем пагинацию на страницу #}
    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}